/* Reset e Generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: ''; 
    display: table;
    clear: both;
}

ul{
    list-style: none;
}

body{
    background-color: #3e3e3e;
}

html{
    font-family: 'Ubuntu', sans-serif;
}

/*  Selettori Riusabili */

.c-white{
    color: #fff;
}

.bg-white{
    background-color: #fff;
}

.c-black{
    color: #000;
}

.bg-black{
    background-color: #000;
}

.disp-iblock{
    display: inline-block;
}

.p-20{
    padding: 20px;
}

.txt-clear{
    text-decoration: none;
}

.p-rel{
    position: relative;
}

.p-abs{
    position: absolute;
}

.txt-center{
    text-align: center;
}


.button{
    padding: 10px;
    border-radius: 20px;
}

.container{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}


/* Selettori Specifici */


nav ul li a{
    font-size: 1.1em;
}

header{
    background-color: #2a5ee8;
}

.head{
    padding: 10px 0;
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

header div a{
    top: 50%;
    transform: translate(0, -50%);
    left: 0px;
}

.login{
    top: 50%;
    transform: translate(0, -50%);
    right: 0px;
}

.hero{
    height: 50vh;
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
} 

h1{
    font-size: 4em;
}

.container.cto{
    width: 40%;
}

.cto p{
    font-size: 1.3em;
    margin-top: 15px;
    margin-bottom: 15px;
}

.container.cto div{
    padding: 15px;
}

.mac{
    right: 25px;
}

.browser{
    left: 25px;
}

.info{
    height: 70vh;
}