/* Generali */


body {
  background-color: #3e3e3e;
}

html {
  font-family: "Ubuntu", sans-serif;
}

/*  Selettori Riusabili */

.button {
  padding: 10px;
  border-radius: 20px;
  font-size: 1.2em;
}

.container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

/* Selettori Specifici */

nav ul li a {
  font-size: 1.1em;
}

header {
  background-color: #2a5ee8;
}

.head {
  padding: 10px 0;
  width: 70%;
  text-align: center;
}

header div a {
  top: 50%;
  transform: translate(0, -50%);
  left: 0px;
}

.login {
  top: 50%;
  transform: translate(0, -50%);
  right: 0px;
}

.hero {
  height: 50vh;
  background-image: url(../img/jumbo.png);
  background-position: center;
  background-size: cover;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
  margin-bottom: 30px;
}

p {
  font-size: 1.5em;
}

.container.cto {
  width: 40%;
}

.cto p {
  font-size: 1.3em;
  margin-top: 15px;
  margin-bottom: 15px;
}

.container.cto div {
  padding: 15px;
}

.mac {
  left:20%;
}

.browser {
  right:20%;
}

.demo {
  height: 70vh;
}

.container.foto {
  width: 60%;
}

.info {
  width: 40%;
}

.demo .container img {
  width: 55%;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.last-call {
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, 0);
}

.last-title {
  padding-top: 50px;
}

h3 {
  background-size: contain;
  background-image: url(../img/stars.svg);
  font-size: 1.3em;
}

.last-call a {
  width: fit-content;
}

/* Footer */

footer {
  height: 70vh;
  background-color: #23272aff;
}

.miscellaneous {
  padding-top: 100px;
}

h4 {
  font-size: 2.7em;
}

.miscellaneous div img {
  margin-top: 20px;
  height: 1em;
  margin-right: 15px;
}

h5 {
  font-size: 1.5em;
}

footer div ul li {
  margin: 15px 0;
}

footer div.wdt-15 {
  margin-left: 30px;
}

.pie {
  border-top: 1px solid #8ea1e1ff;
  padding-top: 30px;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
}

/* Prova onde */

.wave-top {
  width: 100%;
  top: -135px;
}

.wave-bot {
  width: 100%;
  bottom: -135px;
  transform: rotate(180deg);
  z-index: 1;
}

.bg-white.demo {
  height: 85vh;
}

/* Sezione Hover  */

.button:hover {
  background-color: #ccc;
  color: #fff;
}

nav li:hover {
  border-radius: 20px;
  background-color: #0c478b;
  color: #fff;
}
